<div class="header">
    <div class="header-search">
        <div class="search-box" [class]="search===true ? 'search-box1' : ''">
            <input class="text" type="text" [class]="search===true ? 'search-text' : 'remove-search'">
            <img src="assets/images/Search.png" alt="" (click)="showSearch()">
        </div>
        <img [class]="search===true ? 'fullScreen' : ''" (click)=" openFullscreen() " src="assets/images/preview.png"
            alt="">
    </div>
    <div class="header-action" (click)="showMenu()">
        <img class="avatar" src="assets/images/avt.png" alt="">
        <div class="header-info">
            <p>Bui Nam</p>
            <img src="assets/images/drop-right.png" alt="">
        </div>
        <div class="menu-drop" *ngIf="checkMenu">
            <ul>
                <li>
                    <img src="assets/images/Settings.png" alt="">
                    <a href="">Đổi mật khẩu</a>
                </li>
                <li>
                    <img src="assets/images/package.png" alt="">
                    <a href="">Thông tin tài khoản</a>
                </li>
                <li>
                    <img src="assets/images/preview.png" alt="">
                    <a href="">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>

</div>