.login {
    height: 100vh;
    overflow: hidden;
    .login-left {
        height: 100vh;
        background-color: antiquewhite;
    }
    .login-right {
        height: 100vh;
        background-color: azure;
    }
}
