.base-table {
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 0 11px rgb(0 0 0 / 13%);
    padding: 20px;
    border-radius: 15px;
    table td,
    .table th {
        padding: 1.3rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }
    span {
        padding: 5px;
    }
    .action {
        width: 50px;
        height: 30px;
        display: block;
        background-color: #01a9ac;
        border-radius: 6px;
        position: relative;
        .menu-drop {
            width: 240px;
            height: 150px;
            background-color: white;
            position: absolute;
            box-shadow: 0 0 11px rgb(0 0 0 / 13%);
            top: 44px;
            right: -25px;
            border-radius: 10px;
            z-index: 1;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    &::after {
                        content: "";
                        position: absolute;
                        top: -10px;
                        right: 30px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border: 10px solid #fff;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        -webkit-box-shadow: 6 0 0px rgb(0 0 0 / 13%);
                        box-shadow: 6 0 0px rgb(0 0 0 / 13%);
                    }
                    padding: 7px 15px;
                    a {
                        margin-left: 15px;
                        font-size: 15px;
                        vertical-align: top;
                        padding-left: 0;
                        color: #9a9797;
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
