<div class="base-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" *ngFor="let item of listlable">{{item.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data ; let index =index">
                <td *ngFor="let i of listlable ">
                    <span *ngIf="i.type=== 'number'">
                        {{item[i.id]}}
                    </span>
                    <span *ngIf="i.type=== 'text'">
                        {{item[i.id]}}
                    </span>
                    <span *ngIf="i.type=== 'setting'" class="action" (click)="showMenu(index, item)">
                        <div class="menu-drop" *ngIf="visibleIndex === index">
                            <ul>
                                <li>
                                    <img src="assets/images/Settings.png" alt="">
                                    <a href="">Thêm </a>
                                </li>
                                <li>
                                    <img src="assets/images/package.png" alt="">
                                    <a href="">sửa</a>
                                </li>
                                <li>
                                    <img src="assets/images/preview.png" alt="">
                                    <a href="">xoá</a>
                                </li>
                                <li *ngIf="i.databutton[0].buttonLock==='true'">
                                    <img src="assets/images/preview.png" alt="">
                                    <a href=""> Khoá </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>