.side-bar {
    height: 100vh;
    width: 375px;
    background-color: #404e67;
    // position: absolute;
    z-index: 10;
    .logo {
        text-align: center;
        height: 60px;
        line-height: 60px;
        box-shadow: 0 0 11px rgb(0 0 0 / 13%);
        position: fixed;
        width: 240px;
        z-index: 1000;
        background-color: #404e67;
        img {
            width: 150px;
        }
    }
}
.side-bar {
    overflow: auto;
}
.first-child {
    margin-top: 75px;
}
.nav {
    display: flex;
    flex-direction: column;
    .nav-menu-active {
        background: #0a2956;
        height: 55px;
        width: 100%;
        margin-left: 0px !important;
        padding-left: 30px;
    }
    p {
        font-size: 24px;
        color: #ccc;
        margin: 30px 0px 30px 30px;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        margin: 30px 0px 10px 30px;
        outline: none;
        .nav-menu-list {
            color: #fff;
            font-size: 20px;
            margin-left: 15px;
            font-weight: 400;
        }
    }
}
